@charset "utf-8";
.navsky_con {
    width: 1126px;
    margin: 0 auto;
    height: 46px;
    padding-top: 20px;
}

.money_con {
    padding: 50px 0;
    width: 1126px;
    margin: 0 auto;
}

.news_detail_con {
    width: 1126px;
    margin: 0 auto;
    /* background-color: mediumspringgreen; */
}

.nav_sky {
    border-top: 1px solid #f5f5f5;
    background-color: white;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.navsky_con span {
    float: left;
    font-size: 22px;
    line-height: 22px;
    color: #666;
}

.navsky_con ul {
    float: right;
}

.navsky_con ul li {
    float: left;
}

.navsky_con ul li a {
    display: block;
    padding: 0 10px;
    color: #666;
    line-height: 16px;
    border-right: 1px solid #666;
}

.moneys {
    background-color: #f5f5f5;
}

.money_con h2 {
    font-size: 26px;
}

.news_detail_con {
    /* height: 800px; */
    padding-bottom: 20px;
}

.detial_img {
    float: left;
    text-align: center;
    /* height: 1000px; */
    padding-top: 180px;
    width: 500px;
}

.detial_img img {
    width: 440px;
    border: 1px solid red;
    background-color: yellow;
    height: 440px;
    display: inline-block;
}

.news_detail_con ul {
    float: left;
    width: 540px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.news_detail_con ul h2 img {
    width: 40px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}

.news_detail_con ul h2 {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

.detail_ul li:first-of-type p {
    font-size: 14px;
    line-height: 14px;
    color: #888;
    margin-top: 18px;
}

.detail_ul li:first-of-type h3 {
    font-size: 14px;
    line-height: 14px;
    color: orangered;
    margin-top: 24px;
}

.detail_ul li:nth-child(2) {
    width: 540px;
    height: 50px;
    padding: 12px 0;
    margin-top: 14px;
    border-top: 1px solid #999;
    border-bottom: 1px solid hsl(41, 79%, 43%);
}

.detail_ul li:nth-child(2)>div {
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
    background: -webkit-linear-gradient( left, orange, orangered);
    background: -moz-linear-gradient(right, orange, orangered);
    background: -ms-linear-gradient( right, orange, orangered);
    background: -o-linear-gradient( right, orange, orangered);
}

.detail_ul li:nth-child(2)>div div:first-of-type p:first-of-type span:last-of-type {
    font-size: 20px;
}

.detail_ul li:nth-child(2)>div div:first-of-type p:last-of-type span:last-of-type {
    font-size: 16px;
    text-decoration: line-through;
}

.detail_ul li:nth-child(2)>div>div:last-of-type span {
    display: inline-block;
    width: 20px;
    text-align: center;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.detail_ul li:nth-child(2)>div>div:last-of-type span:first-of-type {
    display: inline;
    background: none;
}

.detail_ul li:nth-child(3) {
    width: 500px;
    height: 64px;
    padding-left: 40px;
    margin-top: 18px;
    padding-top: 30px;
    background-color: #f5f5f5;
    border: 1px solid #999;
    line-height: 14px;
    font-size: 14px;
}

.detail_ul li:nth-child(3) button {
    color: orangered;
    border: none;
}

.detail_ul li:nth-child(3) p:last-of-type {
    color: orangered;
}

.detail_ul li:nth-child(4) {
    margin-top: 24px;
    height: 70px;
}

.detail_ul li:nth-child(4) p {
    line-height: 16px;
}

.detail_ul li:nth-child(4) span {
    display: block;
    margin-top: 10px;
    border: 1px solid orangered;
    text-align: center;
    width: 266px;
    height: 42px;
    line-height: 42px;
}

.detail_ul li:nth-child(5) {
    height: 70px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 25px;
    background-color: #eeeeee;
}

.detail_ul li:nth-child(5) span {
    font-size: 14px;
    line-height: 14px;
    color: #666;
}

.detail_ul li:nth-child(5)>div {
    /* float: left; */
    display: flex;
    justify-content: space-between;
}

.detail_ul li:nth-child(5) p {
    line-height: 30px;
    font-size: 30px;
    color: orangered;
    margin-top: 30px;
}

.detail_ul li:nth-child(6) button:first-of-type {
    height: 48px;
    width: 270px;
    color: white;
    background-color: orangered;
    border: none;
}

.detail_ul li:nth-child(6) button {
    font-size: 18px;
    font-weight: bold;
}

.detail_ul li:nth-child(6) {
    margin-top: 30px;
}

.detail_ul li:nth-child(6) button:last-of-type {
    color: #eeeeee;
    height: 48px;
    background-color: #666666;
    width: 130px;
    border: none;
}

.detail_ul li:last-of-type {
    margin-top: 20px;
    color: #666;
    padding: 0 25px;
}